{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center items-center">
        <div class="md:col-8 lg:col-12">
          <h2 class="h3 mb-6 text-center">{{ .Title }}</h2>
          <iframe src="https://www.google.com/maps/d/embed?mid=1ouGVolaV2-RJxb5CFfh1GM77QRu6EZo&ehbc=2E312F&noprof=1"
                  class="w-full mt-12 mb-12"
                  height="650">
          </iframe>
          <div class="content">{{ .Content }}</div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
